{% extends 'Front/layout.html.twig' %}
{% block title %} Réinitialiser mot de passe {% endblock %}

{% block header %}
    {% include ('Front/Includes/header-main_inc.html.twig') %}
{% endblock %}
{% block body %}
    <main class="content_edit_password">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="forget_title">Modifier son mot de passe</h1>
                    <p class="text_forget_password">

                    </p>
                    <div class="box_forget_password">
                        {{ form_start(form)}}
                        <div class="row">
                            <div class="col-md-12 form-group">
                                {{ form_label(form.password.first, 'Nouveau mot de passe:') }}
                                {{ form_widget(form.password.first) }}
                                {{ form_errors(form.password.first) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                {{ form_label(form.password.second, 'Confirmer le nouveau mot de passe:') }}
                                {{ form_widget(form.password.second) }}
                                {{ form_errors(form.password.second) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_widget(form.save) }}
                            </div>
                        </div>
                        {{  form_rest(form)}}
                        {{  form_end(form)}}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block footer %}
    {% include ('Front/Includes/footer-main_inc.html.twig') %}
    {% include ('Front/Includes/footer-copyright_inc.html.twig') %}
{% endblock %}
