{% extends 'Core/layout.html.twig' %}

{% block title %}
	Gestion des paramètres
{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-4">
			{% include ('Core/param/__form.html.twig') %}
		</div>

		<div class="m-portlet m-portlet--mobile col-8">
			<div class="m-portlet__head">
				<div class="m-portlet__head-caption">
					<div class="m-portlet__head-title">
						<h3 class="m-portlet__head-text">
							Gestion des paramètres
						</h3>
					</div>
				</div>
				<div class="m-portlet__head-tools">
					<ul class="m-portlet__nav">
						<li class="m-portlet__nav-item">
							<a data-toggle="modal" data-target="#addRegionModal" href="#" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
								<span>
									<i class="la la-plus"></i>
									<span>Ajout</span>
								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="m-portlet__body">
				<div  id="paramDataTable">
					
					<div class="container">
						<div class="text-center">
							<div class="spinner-border text-primary" role="status">
								<span class="visually-hidden">Loading...</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>

{% endblock %}


{% block javascript %}

<script src="{{ asset('assets/plugins/custom/datatables/datatables.bundle.js')}}"></script>
<script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
{{ encore_entry_script_tags('datatable_file') }}
{{ encore_entry_script_tags('param') }}

<script>
	var paramDataTable = {};
	$(function() 
	{
		paramDataTable = $('#paramDataTable').initDataTables({{ datatable_settings(datatable) }}, {
			responsive: true,
			buttons: [
				{ extend: 'excel', className: 'btn btn-outline-primary' }
			]
		})
		.then(function(dt){
			paramDataTable = dt;
			dt.on('draw', function(){
				alterDataTableContent()
			})
		});
	});
</script>

{% endblock %}

