{% extends 'Front/layout.html.twig' %}
{% block title %} Mes annonces {% endblock %}

{% block header %}
    {% include ('Front/Includes/header-main_inc.html.twig') %}
{% endblock %}
{% block body %}
    <main class="form_annonce">
        <div class="container">
            {% for label, messages in app.flashes(['success', 'info']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="">
                <table class="table table-responsive table-striped table-hover table-gdo" id="list_annonces">
                    <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Ajouté le</th>
                        <th>Catégorie</th>
                        <th>Type</th>
                        <th>Etat</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for annonce in annonces %}
                        <tr id="{{ annonce.id }}">
                            <td>{{ annonce.title }}</td>
                            <td>{{ annonce.createdat|date('d-m-Y') }}</td>
                            <td>{{ annonce.categorie.title }}</td>
                            <td>
                                {% if annonce.type %}
                                    Offre
                                {% else %}
                                    Demande
                                {% endif %}
                            </td>
                            <td>
                                {% if annonce.enabled == 0 %}
                                    <span class="badge badge-info">En attente d'approbation</span>
                                {% elseif annonce.enabled == 1 %}
                                    <span class="badge badge-success">Activé</span>
                                {% else %}
                                    <span class="badge badge-danger">Désapprouvé</span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('annonce_show', {slug: annonce.slug}) }}" class="btn-action">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="{{ path('annonce_edit', {id: annonce.id}) }}" class="btn-action">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <button class="btn-action" data-token="{{ csrf_token('delete-annonce' ~ annonce.id) }}" data-role="delete" data-id="{{ annonce.id }}">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}
{% block footer %}
    {% include ('Front/Includes/footer-main_inc.html.twig') %}
    {% include ('Front/Includes/footer-copyright_inc.html.twig') %}
{% endblock %}
