{% extends 'Core/layout.html.twig' %}
{% block title %} Réinitialiser mot de passe {% endblock %}
{% block content %}

    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Réinitialiser mot de passe pour {{ user.email }}
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <a href="{{ path('register_corporate') }}" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
												<span>
													<i class="la la-plus"></i>
													<span>Nouvel Utilisateur</span>
												</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="container">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6 form-group">
                        {{ form_row(form.password.first) }}
                    </div>
                    <div class="col-md-6 form-group">
                        {{ form_row(form.password.second) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_widget(form.save, {"attr" : {"class" : "btn btn-brand"}}) }}
                    </div>
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>

    </div>

{% endblock %}
